
<div class="card table-card">
  <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="col-sm-12 card-block" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-radio" id="radio-group" style="padding-top: 20px;">  
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="validasi" formControlName="validasi" value="true">
              <i class="helper"></i>Sudah Validasi
            </label>
          </div>
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="validasi" formControlName="validasi" value="false" checked="checked">
              <i class="helper"></i>Belum Validasi
            </label>
          </div> 
        </div>
      </div>
      <div class="col-sm-2" style="margin-bottom: 10px;">
        <h5 class="sub-title">Provinsi</h5>
        <select id="provinsi" class="form-control" formControlName="provinsi" (change)="onProvinsiChange($event)"> 
          <option value="">-- Pilih --</option>
          <option *ngFor="let prov of provinsi | async" value="{{prov.kode_provinsi}}">{{prov.nama_provinsi}}</option>
        </select>
      </div>
      <div class="col-sm-2" style="margin-bottom: 10px;">
        <h5 class="sub-title">Kota</h5>
        <select id="kota" class="form-control" formControlName="kota" (change)="onKotaChange($event)"> 
          <option value="">-- Pilih --</option>
          <option *ngFor="let kot of kota | async" value="{{kot.kode_kota}}">{{kot.nama_kota}}</option>
        </select>
      </div>
      <div class="col-sm-2" style="margin-bottom: 10px;">
        <h5 class="sub-title">Kecamatan</h5>
        <select id="kecamatan" class="form-control" formControlName="kecamatan" (change)="onKecamatanChange($event)"> 
          <option value="">-- Pilih --</option>
          <option *ngFor="let kec of kecamatan | async" value="{{kec.kode_kecamatan}}">{{kec.nama_kecamatan}}</option>
        </select>
      </div>
      <div class="col-sm-2" style="margin-bottom: 10px;">
        <h5 class="sub-title">Kelurahan</h5>
        <select id="kelurahan" class="form-control" formControlName="kelurahan" (change)="onKelurahanChange($event)"> 
          <option value="">-- Pilih --</option>
          <option *ngFor="let kel of kelurahan | async" value="{{kel.kode_kelurahan}}">{{kel.nama_kelurahan}}</option>
        </select>
      </div>
      <div class="col-sm-2" style="margin-bottom: 10px;">  
        <h5 class="sub-title">&nbsp;</h5>
        <button type="submit" class="btn btn-info btn-md txt-white p-t-10 p-b-10" style="width:100%"><i class="fa fa-search"></i> Tampilkan</button>  
      </div>
    </div>
  </div>
  </form>
</div>
<br/>
<!-- <button type="button" class="btn btn-primary btn-md txt-white p-t-10 p-b-10" (click)="open(content, '')"><i class="fa fa-search"></i> Detail</button> -->



<div class="card table-card">
  <table class="table table table-bordered">
    <thead style="background-color: #F5F5F5;">
    <tr>
      <th rowspan="2" style="text-align: center;vertical-align: middle;">Wilayah</th>
      <th rowspan="2" style="text-align: center;vertical-align: middle;">Status Absen</th> 
      <th rowspan="2" style="text-align: center;vertical-align: middle;">Status Kirim</th> 
      <th rowspan="2" style="text-align: center;vertical-align: middle;">Koordinat</th> 
    </tr> 
    </thead>
    <tbody style="text-align: center" *ngIf="_dataLoaded_detail" > 
    <tr *ngFor="let data of _dataTable">
      <th scope="row">{{data.nama_wilayah}}</th>
      <td>
          <span *ngIf="data.status_absen === true" class="badge badge-success"><i class="fa fa-check"></i></span>
          <span *ngIf="data.status_absen === false" class="badge badge-danger"><i class="fa fa-close"></i></span>
      </td>
      <td>
          <span *ngIf="data.status_kirim === true" class="badge badge-success"><i class="fa fa-check"></i></span>
          <span *ngIf="data.status_kirim === false" class="badge badge-danger"><i class="fa fa-close"></i></span>
      </td>
      <td>
          {{data.latitude}}, {{data.longitude}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss" size="lg">
    <div class="modal-header">
        <h4 class="modal-title">Verifikasi</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form class="md-float-material" [formGroup]="myForm2" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-sm-4" style="margin-bottom: 10px; text-align: center;">
            <h5 class="sub-title">Joko Widodo - KH Ma'ruf Amin</h5>
            <input type="text" formControlName="hasil_suara_1" value="{{pub_suara_1}}" style="width: 200px;height: 70px;text-align: center;font-size: 40px;"/>
          </div>
          <div class="col-sm-4" style="margin-bottom: 10px; text-align: center;">
              <h5 class="sub-title">Prabowo Subianto - Sandiaga Uno</h5>
            <input type="text" formControlName="hasil_suara_2" value="{{pub_suara_2}}" style="width: 200px;height: 70px;text-align: center;font-size: 40px;"/>
          </div>
          <div class="col-sm-4" style="margin-bottom: 10px; text-align: center;">
              <h5 class="sub-title">&nbsp;</h5>
              <button type="button" (click)="verifikasi()" class="btn btn-success btn-md txt-white p-t-10 p-b-10" style="width: 150px;height: 70px;text-align: center;font-size: 20px;"><i class="fa fa-check"></i> OK</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" (click)="unverifikasi()" class="btn btn-danger btn-md txt-white p-t-10 p-b-10" style="width: 150px;height: 70px;text-align: center;font-size: 20px;"><i class="fa fa-close"></i> TIDAK</button>
          </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-4" style="margin-bottom: 10px;">
          <img [src]="pub_suara_scan_1" style="max-height:450px; width: 100%; object-fit: contain;">
        </div>
        <div class="col-sm-4" style="margin-bottom: 10px;">
          <img [src]="pub_suara_scan_2" style="max-height:450px; width: 100%; object-fit: contain;">
        </div>
        <div class="col-sm-4" style="margin-bottom: 10px;">
          <img [src]="pub_suara_scan_3" style="max-height:450px; width: 100%; object-fit: contain;">
        </div>
      </div>
      </form>
    </div>
</ng-template>