<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div style="height:600px">
                <app-esri-map
                [center]="mapCenter"
                [basemap]="basemapType"
                [zoom]="mapZoomLevel"
                (mapLoadedEvent)="mapLoadedEvent($event)">
                </app-esri-map>
            </div>
    </div>
</div>
