<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Monitoring Suara Pilpres 2019 </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
    </div>
</nav>
