<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ '' | translate }}</span>
    </div>
    <div class="list-group">
        <a routerLink="/peta" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Peta Sebaran' | translate }}</span>
        </a>
        <a [routerLink]="['/verifikasi']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Verifikasi Data' | translate }}</span>
        </a> 
        <a [routerLink]="['/absen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>&nbsp;
            <span>{{ 'Absen' | translate }}</span>
        </a>
    </div>
</nav>
